In [1]:
import requests
import pandas as pd 
from bs4 import BeautifulSoup

In [2]:
url = "https://www.popvortex.com/music/charts/top-100-songs.php"

#download html with a get request
response = requests.get(url)
response.status_code

#parse html (create the 'soup')
soup = BeautifulSoup(response.content, "html.parser")

In [3]:
#soup

In [4]:
soup.select("#chart-position-1 > div.chart-content.col-xs-12.col-sm-8 > p")

In [5]:
soup.select("div.chart-content.col-xs-12.col-sm-8 > p > cite")[0].get_text()

'Last Night'

In [6]:
soup.select("div.chart-content.col-xs-12.col-sm-8 > p > em")[0].get_text()

'Morgan Wallen'

In [7]:
title = []
artist = []

num_iter = len(soup.select("div.chart-content.col-xs-12.col-sm-8 > p > cite"))
tlist = soup.select("div.chart-content.col-xs-12.col-sm-8 > p > cite")
alist = soup.select("div.chart-content.col-xs-12.col-sm-8 > p > em")

# iterate through the result set and retrive all the data
for i in range(num_iter):
    title.append(tlist[i].get_text())
    artist.append(alist[i].get_text())

In [8]:
top100 = pd.DataFrame({"title":title, "artist":artist})

In [9]:
top100.head()

                           title         artist
0                     Last Night  Morgan Wallen
1                        Flowers    Miley Cyrus
2                       Fast Car     Luke Combs
3  Like Crazy (Deep House Remix)          Jimin
4   Like Crazy (UK Garage Remix)          Jimin

## Get another top 100 song list

In [10]:
url = "https://www.officialcharts.com/charts/singles-chart/"
response = requests.get(url)
response.status_code
soup = BeautifulSoup(response.content, "html.parser")

In [11]:
# soup.select("#main > article > div > div.grid__cell.unit-2-3--desktop > section > table > tbody > tr:nth-child(2) > td:nth-child(3)")

In [12]:
#soup.select("table")[0].find_all("div", {"class":["title", "artist"]})
soup.select("table")[0].find_all("div", class_="artist")[0].get_text()

'\nMILEY CYRUS\n'

In [13]:
song_title = []
artist_name = []

num_iters = len(soup.select("table")[0].find_all("div", class_="title"))
slist = soup.select("table")[0].find_all("div", class_="title")
alist = soup.select("table")[0].find_all("div", class_="artist")

# iterate through the result set and retrive all the data
for i in range(num_iters):
    song_title.append(slist[i].get_text())
    artist_name.append(alist[i].get_text())

In [14]:
top100_two = pd.DataFrame({"title":song_title, "artist":artist_name})
print(top100_two.shape)
top100_two.head()

(100, 2)

             title                            artist
0      \nFLOWERS\n                   \nMILEY CYRUS\n
1      \nMIRACLE\n  \nCALVIN HARRIS/ELLIE GOULDING\n
2  \nDIE FOR YOU\n                        \nWEEKND\n
3    \nCALM DOWN\n                          \nREMA\n
4       \nPEOPLE\n                      \nLIBIANCA\n

## Song Recommender

In [15]:
import random

def songrecommender():
    song = input("Enter song name: ")
    artist = input("Enter artist name: ")
    
    for i in range(len(top100.values)):
        if (song in top100.values[i][0]) & (artist in top100.values[i][1]):
            recommendation = top100[(top100['title'] != song) & (top100['artist'] != artist)].iloc[random.randint(0,99)]
            return "We recommend: " + recommendation.title + " by " + recommendation.artist 
        
    for i in range(len(top100.values)): 
        if (song not in top100.values[i][0]) & (artist not in top100.values[i][1]):
            return "Sorry, no recommendations available"

In [16]:
songrecommender()

Enter song name: Calm Down
Enter artist name: Rema

"We recommend: Boy's a liar, Pt. 2 by PinkPantheress & Ice Spice"

In [17]:
songrecommender()

Enter song name: seye
Enter artist name: sij

'Sorry, no recommendations available'