In [1]:
# 1. import libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd

# 1. Display the top 10 languages by number of native speakers stored in a pandas dataframe

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers"
response = requests.get(url)
response.status_code 
soup = BeautifulSoup(response.content, "html.parser")

In [3]:
#soup

In [4]:
# soup.select("#mw-content-text > div.mw-parser-output > table.wikitable.sortable.static-row-numbers.jquery-tablesorter > tbody")
# soup.select("#mw-content-text > div.mw-parser-output > table.wikitable.sortable.static-row-numbers.jquery-tablesorter > tbody > tr:nth-child(1)")
# print(soup.select("table")[0]("tr")[1].select("td")[0].get_text())
# print(soup.select("table")[0]("tr")[1].select("td")[1].get_text())

In [ ]:
prestab = soup.select("table")[0]
prestab.select("tr")[1:10]

In [6]:
language = []
speakers = []
for lan in prestab.select("tr")[1:11]:
    language.append(lan("td")[0].get_text())
    speakers.append(lan("td")[1].get_text())
    
    
# print(lan("td")[0].get_text())
# print(lan("td")[1].get_text())

In [7]:
display(len(language))
language

10

['Mandarin Chinese(incl. Standard Chinese, but excl. other varieties)\n',
 'Spanish\n',
 'English\n',
 'Hindi(excl. Urdu, and other languages)\n',
 'Portuguese\n',
 'Bengali\n',
 'Russian\n',
 'Japanese\n',
 'Yue Chinese(incl. Cantonese)\n',
 'Vietnamese\n']

In [8]:
top10 = pd.DataFrame({"language":language,
                       "native speakers":speakers})
top10

                                            language native speakers
0  Mandarin Chinese(incl. Standard Chinese, but e...           939\n
1                                          Spanish\n           485\n
2                                          English\n           380\n
3           Hindi(excl. Urdu, and other languages)\n           345\n
4                                       Portuguese\n           236\n
5                                          Bengali\n           234\n
6                                          Russian\n           147\n
7                                         Japanese\n           123\n
8                     Yue Chinese(incl. Cantonese)\n          86.1\n
9                                       Vietnamese\n          85.0\n

# 2. Create a Python list with the top ten FBI's Most Wanted names

In [9]:
url = "https://www.fbi.gov/wanted/topten"
response = requests.get(url)
response.status_code
soup = BeautifulSoup(response.content, "html.parser")

In [10]:
# soup

In [11]:
soup.select("#query-results-0f737222c5054a81a120bce207b0446a > ul > li:nth-child(1) > h3 > a")

In [12]:
soup.select("h3 a")

[<a href="https://www.fbi.gov/wanted/topten/omar-alexander-cardenas">OMAR ALEXANDER CARDENAS</a>,
 <a href="https://www.fbi.gov/wanted/topten/alexis-flores">ALEXIS FLORES</a>,
 <a href="https://www.fbi.gov/wanted/topten/bhadreshkumar-chetanbhai-patel">BHADRESHKUMAR CHETANBHAI PATEL</a>,
 <a href="https://www.fbi.gov/wanted/topten/alejandro-castillo">ALEJANDRO ROSALES CASTILLO</a>,
 <a href="https://www.fbi.gov/wanted/topten/yulan-adonay-archaga-carias">YULAN ADONAY ARCHAGA CARIAS</a>,
 <a href="https://www.fbi.gov/wanted/topten/ruja-ignatova">RUJA IGNATOVA</a>,
 <a href="https://www.fbi.gov/wanted/topten/arnoldo-jimenez">ARNOLDO JIMENEZ</a>,
 <a href="https://www.fbi.gov/wanted/topten/michael-james-pratt">MICHAEL JAMES PRATT</a>,
 <a href="https://www.fbi.gov/wanted/topten/jose-rodolfo-villarreal-hernandez">JOSE RODOLFO VILLARREAL-HERNANDEZ</a>,
 <a href="https://www.fbi.gov/wanted/topten/rafael-caro-quintero">RAFAEL CARO-QUINTERO</a>]

In [13]:
soup.select("h3 a")[0].get_text()

'OMAR ALEXANDER CARDENAS'

In [14]:
names = []
num_iter = len(soup.select("h3 a"))
namelist = soup.select("h3 a")

# iterate through the result set and retrieve names
for i in range(num_iter):
    names.append(namelist[i].get_text())

print(names)

['OMAR ALEXANDER CARDENAS', 'ALEXIS FLORES', 'BHADRESHKUMAR CHETANBHAI PATEL', 'ALEJANDRO ROSALES CASTILLO', 'YULAN ADONAY ARCHAGA CARIAS', 'RUJA IGNATOVA', 'ARNOLDO JIMENEZ', 'MICHAEL JAMES PRATT', 'JOSE RODOLFO VILLARREAL-HERNANDEZ', 'RAFAEL CARO-QUINTERO']

In [15]:
fbilist = pd.DataFrame({"FBI's Most Wanted ":names
                      })

In [16]:
fbilist

                  FBI's Most Wanted
0            OMAR ALEXANDER CARDENAS
1                      ALEXIS FLORES
2     BHADRESHKUMAR CHETANBHAI PATEL
3         ALEJANDRO ROSALES CASTILLO
4        YULAN ADONAY ARCHAGA CARIAS
5                      RUJA IGNATOVA
6                    ARNOLDO JIMENEZ
7                MICHAEL JAMES PRATT
8  JOSE RODOLFO VILLARREAL-HERNANDEZ
9               RAFAEL CARO-QUINTERO

# 3. Retrieve an arbitrary Wikipedia page of "Python" and create a list of links on that page

In [17]:
url = "https://en.wikipedia.org/wiki/Python"
response = requests.get(url)
response.status_code
soup = BeautifulSoup(response.content, "html.parser")

In [18]:
#soup

In [74]:
#soup.select("#mw-content-text > div.mw-parser-output > ul a")

In [72]:
pythonlinks = []

for pr in soup.select("#mw-content-text > div.mw-parser-output > ul a"):
    link = pr.get("href")
    url = "https://en.wikipedia.org" + link
    pythonlinks.append(url)

In [73]:
pythonlinks

['https://en.wikipedia.org/wiki/Pythonidae',
 'https://en.wikipedia.org/wiki/Python_(genus)',
 'https://en.wikipedia.org/wiki/Python_(mythology)',
 'https://en.wikipedia.org/wiki/Python_(programming_language)',
 'https://en.wikipedia.org/wiki/CMU_Common_Lisp',
 'https://en.wikipedia.org/wiki/PERQ#PERQ_3',
 'https://en.wikipedia.org/wiki/Python_of_Aenus',
 'https://en.wikipedia.org/wiki/Python_(painter)',
 'https://en.wikipedia.org/wiki/Python_of_Byzantium',
 'https://en.wikipedia.org/wiki/Python_of_Catana',
 'https://en.wikipedia.org/wiki/Python_Anghelo',
 'https://en.wikipedia.org/wiki/Python_(Efteling)',
 'https://en.wikipedia.org/wiki/Python_(Busch_Gardens_Tampa_Bay)',
 'https://en.wikipedia.org/wiki/Python_(Coney_Island,_Cincinnati,_Ohio)',
 'https://en.wikipedia.org/wiki/Python_(automobile_maker)',
 'https://en.wikipedia.org/wiki/Python_(Ford_prototype)',
 'https://en.wikipedia.org/wiki/Python_(missile)',
 'https://en.wikipedia.org/wiki/Python_(nuclear_primary)',
 'https://en.wikipedia.org/wiki/Colt_Python',
 'https://en.wikipedia.org/wiki/Python_(codename)',
 'https://en.wikipedia.org/wiki/Python_(film)',
 'https://en.wikipedia.org/wiki/Monty_Python',
 'https://en.wikipedia.org/wiki/Python_(Monty)_Pictures',
 'https://en.wikipedia.org/wiki/Timon_of_Phlius',
 'https://en.wikipedia.org/wiki/Pyton',
 'https://en.wikipedia.org/wiki/Pithon']